* {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  background-color: #e8e5f5;
}
.header {
  background-color: #501b4e;
}

.footer {
  background-color: #501b4e;
}
.botonAdmin {
  background-color: #decaf1;
  border-style: inset;
  border-color: #d18bcf;
}
a:link.linkAdmin {
  color: #000;
  background-color: #decaf1;
}
